{{ feature_point}},
    "properties": {
        "type": "round headquarter",
        "time": "{{ round_time }}",
        "uuid": "{{ feature_uuid }}",
        "roundID": "{{ round_identifier }}",
        "w3wAddress": {
            "country": "{{ hq_country }}",
            "nearestPlace": "{{ hq_nrstPlace }}",
            "words": "{{ hq_w3w }}",
            "word1": "{{ hq_w1 }}",
            "word2": "{{ hq_w2 }}",
            "word3": "{{ hq_w3 }}",
            "language": "{{ hq_lng }}",
            "map": "{{ hq_map }}"
        }
    }
}