{
    "type": "Feature",
    "geometry": {
        "type": "Point",
        "coordinates": {{ point_coord }}
        },
    "properties": {
        "type": "contact",
        "time": "{{ contact_time }}",
        "uuid": "{{ feature_uuid }}",
        "w3wAddress": {
            "country": "{{ contact_country }}",
            "nearestPlace": "{{ contact_nrstPlace }}",
            "words": "{{ contact_w3w }}",
            "word1": "{{ contact_w1 }}",
            "word2": "{{ contact_w2 }}",
            "word3": "{{ contact_w3 }}",
            "language": "{{ contact_lng }}",
            "map": "{{ contact_map }}"
        }
    }
}